---
layout: default
sidebar: true
---
<article class="module">
  <div class="module-meta">
    <span class="module-number">
      {% if page.lang == "ru" %}Модуль {{ page.module_number }}{% else %}Module {{ page.module_number }}{% endif %}
    </span>
    {% if page.version %}
    <span class="module-version">
      {% if page.lang == "ru" %}Версия{% else %}Version{% endif %} {{ page.version }}
    </span>
    {% endif %}
  </div>
  <div class="module-breadcrumb">
    <a href="{{ site.baseurl }}/{{ page.lang }}/">{{ site.data.ui.breadcrumb_home[page.lang] }}</a>
    &rsaquo;
    <a href="{{ site.baseurl }}/{{ page.lang }}/map.html">{{ site.data.ui.breadcrumb_map[page.lang] }}</a>
    &rsaquo;
    <span>{{ page.module_title }}</span>
  </div>
  
  {{ content }}
</article>
